# 設定ファイル（認証情報を含むため）
config.ps1

# ログファイル
*.log

# 実行スクリプト
main_process.ps1

# Excelの一時ファイル
~$*.xlsx
~$*.xlsm

# ログファイル
display_log.txt
WinSCP.log

local-data/backup/*
!local-data/backup/.gitkeep
local-data/ftp-root/*
!local-data/ftp-root/.gitkeep